# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch & Large Pretrained Models
backend/GPT_SoVITS/GPT_SoVITS/pretrained_models/
GPT_SoVITS/

# Output WAV audio files
backend/outputs/*.wav
samples/*.trimmed.wav

# Environment & IDE
.venv/
venv/
.idea/
.vscode/
